/* @import url('./Calculator/index-calculator.css');
@import url('./Todo-List/index-todolist.css');
@import url('./Tic-Tac-Toe/'); */
body {
  margin: auto;
}

.header {
  height: 5vh;
  background-color: black;
  display: flex;
  justify-content: flex;
  align-items: center;
  align-content: space-around;

}

.main {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header a {
  color: white;
  height: fit-content;
  font-size: 1.2rem;
  text-decoration-line: none;
  margin-right: 20px;
}

.header a:active {
  color: white;
}